extends layout

block content

    .jumbotron
      .container
        h1 How may i help you


        p lorem ipsum de lore santa vik em ipsum de lore santa vikem ipsum de lore santa vikem ipsum de lore santa vikem ipsum de lore santa vikem ipsum de lore santa vik
        a.btn.btn-primary.btn-lg('href=#') Learn more
    .container
      .row
        .col-md-4
          h1 Web design
          p We do web design with love lorem impsum loremh love lorem impsum lorem lorem h love lorem impsum lorem lorem  lorem lorem jan lorem internet chunem
          .btn.btn-primary Learn more
        .col-md-4
          h1 Development
          p We do web design with love lorem impsum lorem loh love lorem impsum lorem lorem h love lorem impsum lorem lorem rem lorem jan lorem internet chunem
          .btn.btn-primary Learn more
        .col-md-4
          h1 Marketing
          p We do web design with love lorem impsum lorem lorem h love lorem impsum lorem lorem h love lorem impsum lorem lorem lorem jan lorem internet chunem
          .btn.btn-primary Learn more