doctype html
html
  head
    title #{title }: Sashiks website
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/custom.css', rel='stylesheet')


  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Express webste
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='about') ABout
          li.nav-item
            a.nav-link(href='/contact') Contact us

        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          br
          br
    block content
    br
    footer
     br
     p Copyright by &copy Sashik
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(src='javascripts/bootstrap.js')
